.container {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: center;
  color: blue;
  margin: 0;
}

.inputField {
  margin-bottom: 5px;
  margin-top: 15px;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
